* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  background-color: #123456;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 50vh;
  background-image: url(../img/backgroundHeader2.jpg);
  background-position: center;
  background-attachment: fixed;
}

header h1 {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', cursive;
}

#currencyRates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 130px auto;
  width: calc(100% - 40px);
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 black;
          box-shadow: 0 0 10px 0 black;
  background-color: #fff;
}

#currencyRates .currencyComparing {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 40%;
}

#currencyRates .currencyComparing p {
  font-size: 14px;
  text-align: right;
}

#currencyRates .currencyComparing p span {
  font-weight: bold;
}

#currencyRates .currencyComparing .compareSection {
  margin-top: 30px;
}

#currencyRates .currencyComparing .compareSection div {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#currencyRates .currencyComparing .compareSection div p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
  font-size: 18px;
}

#currencyRates .currencyComparing .compareSection div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#currencyRates .currencyComparing .compareSection div div input {
  width: 100%;
  padding-left: 3px;
  -moz-appearance: textfield;
  margin: 0;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid black;
  font-weight: bold;
}

#currencyRates .currencyComparing .compareSection div div input::-webkit-outer-spin-button,
#currencyRates .currencyComparing .compareSection div div input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

#currencyRates .currencyComparing .compareSection div div input:focus {
  outline: none;
}

#currencyRates .currencyComparing .compareSection div div label {
  margin-left: 7px;
}

#currencyRates .currencyComparing .compareSection p {
  text-align: center;
}

#currencyRates .currencyListContainer {
  width: 40%;
}

#currencyRates .currencyListContainer input {
  width: 100%;
  height: 30px;
  padding: 3px;
}

#currencyRates .currencyListContainer ul {
  list-style: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 15px;
}

#currencyRates .currencyListContainer ul li {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'symbol course' 'name name';
  border-bottom: 1px solid black;
  padding: 10px 0;
  cursor: pointer;
  -webkit-transition: .3s background-color, .3s .2s linear transform;
  transition: .3s background-color, .3s .2s linear transform;
}

#currencyRates .currencyListContainer ul li .divCurrencySymbol {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: symbol;
  font-weight: bold;
}

#currencyRates .currencyListContainer ul li .divCurrencyRate {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: course;
}

#currencyRates .currencyListContainer ul li .divCurrencyName {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  color: gray;
  font-size: 14px;
}

#currencyRates .currencyListContainer ul li:hover {
  background-color: #ececec;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

footer {
  background-color: black;
  height: 70px;
  color: white;
  text-align: center;
}

footer p {
  padding: 7px 0;
}
/*# sourceMappingURL=style.css.map */