* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',
        sans-serif;

}

:root {
    background-color: #123456;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 50vh;
    background-image: url(../img/backgroundHeader2.jpg);
    background-position: center;
    background-attachment: fixed;

    h1 {
        position: absolute;
        top: 40px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        text-shadow: 0 0 10px black;
        letter-spacing: 2px;
        font-family: 'Bebas Neue',
            cursive;
    }
}

#currencyRates {
    // position: absolute;
    display: flex;
    justify-content: space-between;
    // top: 130px;
    // left: 50%;
    // transform: translateX(-50%);
    margin: 130px auto;
    width: calc(100% - 40px);
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    background-color: #fff;

    .currencyComparing {
        order: 2;
        width: 40%;

        p {
            span {
                font-weight: bold;
            }
        }
    }

    .currencyListContainer {
        width: 40%;
    }

    ul {
        list-style: none;
        order: 1;


        li {
            display: flex;
            gap: 10px;
            border-bottom: 1px solid black;
            padding: 5px 0;
        }
    }
}